service: nft-rent-marketplace-api-oasys

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-2
  memorySize: 128
  timeout: 10
  environment:
    NFT_CONTRACT: ${env:NFT_CONTRACT}
    NFT_RENT_MARKETPLACE_CONTRACT: ${env:NFT_RENT_MARKETPLACE_CONTRACT}
    PG_USER: ${env:PG_USER}
    PG_PWD: ${env:PG_PWD}
    PG_URI: ${env:PG_URI}
    PG_PORT: ${env:PG_PORT}
    PG_DATABASE: ${env:PG_DATABASE}

functions:
  app:
    handler: api/server.handler
    events:
      - http: ANY /
      - http:
          path: /{proxy+}
          method: any
