name: CI/CD Pipeline for API

on:
  push:
    branches: [ main ]
    paths:
    - 'api/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18

    - name: Clear npm cache
      run: npm cache clean --force

    - name: Install dependencies
      run: |
        cd api
        npm ci

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2


    - name: Deploy API
      env:
        WALLET_PV_KEY: ${{ secrets.WALLET_PV_KEY }}
        BLOCKCHAIN_RPC_URL: ${{ secrets.BLOCKCHAIN_RPC_URL }}
        NFT_RENT_MARKETPLACE_CONTRACT: ${{ secrets.NFT_RENT_MARKETPLACE_CONTRACT }}
        NFT_RENT_MARKETPLACE_API: ${{ secrets.NFT_RENT_MARKETPLACE_API }}
      run: |
        cd api
        npx serverless deploy
